# Token
token=3363555353:GGEcq3HQYEtyhyyCyDZyGy5yHygyeyZyTyA

# Channel name. Starts from @.
# Here you can specify a channel id, but Attention! The channel id must be a negative number (commonly 13 digits)
channelName=@yourChannelName
# channelName=-1234567890123
